@model IEnumerable<BLL.ViewModels.Admin.UserItemViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>@Html.DisplayNameFor(model => model.Roles)</th>
        <th></th>
    </tr>
    <tbody id="listUsers">
        @foreach (var item in Model)
        {

            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @foreach (var role in item.Roles)
                    {
                        <span style="border: solid 1px; border-radius: 3px; padding: 3px; margin: 4px;">
                            @role.Name
                            <a href="#" class="delUserRole" data-id="@role.Id" data-user-id="@item.Id">x</a>
                        </span>
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>

</table>

@section scripts {
    <script>
        $(function () {
            $("#listUsers").on("click", ".delUserRole",
                function () {
                    var obj = $(this);
                    //Дані для відправки на сервер
                    var item = {
                        userId: obj.attr("data-user-id"),
                        roleId: obj.attr("data-id")
                    };
                    $.ajax({
                        url: "/AdminUser/DeleteUserRole",
                        type: "POST",
                        data: JSON.stringify(item),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            if (data.rez == 0) {
                                alert("Error delete role");
                            }
                            else {
                                var span = obj.closest('span');
                                span.remove();
                            }
                            console.log(data.rez);

                        }
                    });
                });
        });
    </script>

}
